*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #ecf4fb;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    padding: 15px 0;
}
.cont-int{
    border: solid black 1px;
    padding: 20px;
    text-align: center;
}

.btns{
    background-color: #1F2937;
    padding: 10px 0;
    width: 550px;
    border: 1px solid green;
}
.btns button{
    padding: 2px 5px;
    margin-left: 5px;
    border:  #797979 solid 1px;
    cursor: pointer;
}
.btns button a{
    text-decoration: none;
    color: #000;
}

.colors {
    width: 110px;
    height: 414px;
}

#color-container {
    width: 550px;
    display: flex;
    border: 1px solid blue;
}

#mainColors {
    /* display: flex; */
    width: 110px;
}

.colorsPara {
    background-color: #1F2937;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexPara {
    color: #D5D4D8;
    background-color: #1F2937;
    width: 75%;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}